h1{
	text-align: center;
}
.container{
	border:0px solid blue;
	width: 80%;
	height: 500px;
	margin: 5px auto;
}
.content{
	border:0px solid red;
	width: 90%;
	height: 400px;
	margin: 5px auto;
	overflow: auto;
}
.controller{
	border:0px solid gray;
	width: 90%;
	height: 30px;
	margin: 5px auto;
	text-align: center;
}
.controller button{
	cursor: pointer;
}